In [4]:
import numpy as np
import pandas as pd
  
# read text file into pandas DataFrame and
# create header
df = pd.read_csv("adaptive-e-learning-for-educational-recommendation-system/dataset/transactions_v2.txt", dtype=str ,sep="\t", header=None, names=['timestamp','course','student','resourceID','partID','mode','result'])

In [3]:
# df=pd.read_csv('adaptive-e-learning-for-educational-recommendation-system/dataset/Loncapa.csv',low_memory=False)

In [5]:
df

,timestamp,course,student,resourceID,partID,mode,result
0,1292676876,17PfVQUjnFksY,42xcn1otKzbyA,lib/templates/examupload.problem,NaN,NaN,NaN
1,1292676810,17PfVQUjnFksY,42G67UH9o9VC.,ext/www.pa.msu.edu/~osheabr/teaching/LB273_gra...,NaN,NaN,NaN
2,1292676473,17PfVQUjnFksY,42nnWozrfbHWE,msu/kortemey/physicslib/thermo/tollbooth2.problem,NaN,NaN,NaN
3,1292676458,17PfVQUjnFksY,42nnWozrfbHWE,msu/kortemey/physicslib/oscillations/resonance...,NaN,NaN,NaN
4,1292676405,17PfVQUjnFksY,42twHEdc5L6WM,lib/templates/examupload.problem,NaN,NaN,NaN
...,...,...,...,...,...,...,...
29306635,1231167493,17lWZ7mTKeQg.,42.SSHZ8gHchE,msu/physicslib/msuphysicslib/51_ElectricForce/...,NaN,NaN,NaN
29306636,1231167493,17lWZ7mTKeQg.,42.SSHZ8gHchE,msu/physicslib/msuphysicslib/51_ElectricForce/...,NaN,NaN,NaN
29306637,1231167493,17lWZ7mTKeQg.,42.SSHZ8gHchE,msu/physicslib/msuphysicslib/51_ElectricForce/...,NaN,NaN,NaN
29306638,1231167394,17lWZ7mTKeQg.,42.SSHZ8gHchE,msu/physicslib/msuphysicslib/51_ElectricForce/...,NaN,NaN,NaN
29306639,1231167328,17lWZ7mTKeQg.,42.SSHZ8gHchE,msu/nagytibo/Misc/clickregA.problem,NaN,NaN,NaN

In [12]:
data=df.to_numpy()
data[:,1]

array(['17PfVQUjnFksY', '17PfVQUjnFksY', '17PfVQUjnFksY', ...,
       '17lWZ7mTKeQg.', '17lWZ7mTKeQg.', '17lWZ7mTKeQg.'], dtype=object)

In [9]:
course=data[:,1]
np.unique(course)

array(['17.KPLV7108Q.', '170Rg65URrGNE', '1734gygYlAFOI', '173XHazC4puKI',
       '178UapjfFklEc', '179Ce1976MyiM', '17A7imT7M3wxI', '17AlNB3stJY5Q',
       '17DtnibRFokt6', '17EbEJfGNfRzc', '17FGvfsKTd9qg', '17Faxuol3IIFQ',
       '17ICS6N0eBevM', '17IwT5b39kY6Q', '17Np8nZS6oVSc', '17PfVQUjnFksY',
       '17Q.FdNAmYJSE', '17QDnYbcwatec', '17X9ElKlKxuE2', '17XyLE6fAS21U',
       '17b1KWZk/9bWg', '17dSDs2HzHQTU', '17drv4WFUwXr.', '17eUp22S2crNE',
       '17ipAbYEhwvus', '17klvCknkhcmE', '17lNXP7woERBI', '17lWZ7mTKeQg.',
       '17mSq8Ta3yYMs', '17oIHrAYo4YwU', '17oPA6FLPK2B.', '17pHpKo0nAoak',
       '17vKzihe/S1K2', '17y.VYL4BL2JI'], dtype=object)

In [6]:
# save into 34 different .csv files based on 34 different courses
grouped = df.groupby('course')

# Step 2: Create separate arrays for each group.
array_group = [grouped.get_group(name) for name in grouped.groups]

# 'array_group' will be a list containing separate arrays for each unique element in the 'column_name' column.
# Each array will contain the rows of the original DataFrame corresponding to that unique element.

# Example: Accessing the first array for the first unique element ('A'):
array_group
len(array_group)

34

In [67]:
# course_4=course_4.astype(int)
grouped.count()

               timestamp  student  resourceID  partID    mode  result
course
17.KPLV7108Q.     499293   499293      499293   75445   17616  120714
170Rg65URrGNE     792816   792816      792816  199140   21704  266393
1734gygYlAFOI     879669   879669      879669  162528   59572  223557
173XHazC4puKI     825393   825393      825393  211423   28287  281038
178UapjfFklEc    1181936  1181936     1181936  292728     123  409286
179Ce1976MyiM     878915   878915      878915  224710   30182  292500
17A7imT7M3wxI     733077   733077      733077  110739   25262  177600
17AlNB3stJY5Q     166482   166482      166482   33763    4446   40237
17DtnibRFokt6     840995   840995      840995  272206   82469  306045
17EbEJfGNfRzc    1498928  1498928     1498928  459914   82809  493385
17FGvfsKTd9qg     512412   512412      512412  102241   19562  126312
17Faxuol3IIFQ     848691   848691      848691  211385   31057  252379
17ICS6N0eBevM     868847   868847      868847  225112   45646  289716
17IwT5b39kY6Q     926136   926136      926136  246316   34037  294399
17Np8nZS6oVSc     123007   123007      123007   34071    3214   41095
17PfVQUjnFksY     416458   416458      416458   99388   18851  126084
17Q.FdNAmYJSE     920376   920376      920376  174802   44255  229948
17QDnYbcwatec    1087759  1087759     1087759  267358  101122  378034
17X9ElKlKxuE2     459448   459448      459448   82238       4   82073
17XyLE6fAS21U     791316   791316      791316  222348   24932  251341
17b1KWZk/9bWg    1980665  1980665     1980665  461436   90512  647155
17dSDs2HzHQTU     466154   466154      466154   70360   14465  113668
17drv4WFUwXr.     678487   678487      678487  156880   23669  213641
17eUp22S2crNE     683217   683217      683217  132849   40907  160392
17ipAbYEhwvus    1160247  1160247     1160247  243897   60896  402608
17klvCknkhcmE    2084558  2084558     2084558  479511   98209  667242
17lNXP7woERBI    1202331  1202331     1202331  232213   66917  306815
17lWZ7mTKeQg.    1298595  1298595     1298595  267260   57576  411446
17mSq8Ta3yYMs     785318   785318      785318  233382   30560  255322
17oIHrAYo4YwU     689567   689567      689567  124243   41992  169639
17oPA6FLPK2B.    1010569  1010569     1010569  171441   36926  210760
17pHpKo0nAoak     524027   524027      524027  107246   17452  130409
17vKzihe/S1K2    1200160  1200160     1200160  328466   80298  407561
17y.VYL4BL2JI     290791   290791      290791   53818       8   53809

 Eg how often are resources shared across the same course? If we have two similar courses, can we just pool them together? Can we just pool all the courses together even if there isnâ€™t much resource overlap (there is still some common information in how student's generally learn)? 
 
 A total of 9,349 individual students accessed 2,464 different content pages and 3,703 different online problems. Unless we really look into details of each problems to see if those are essentially similar problems, we have too many questions (unknown parameters)

In [4]:
# how often are resources shared across the same course?
# course_overlap=np.zeros((34,34))
# exam_overlap=np.zeros((34,34))
# hw_overlap=np.zeros((34,34))
hw_ques_overlap=np.zeros((34,34))
for i in range(len(array_group)):
    coursei=array_group[i]
    #exami=coursei[coursei['mode']=='exam']
    #handi=coursei[coursei['mode']=='hand']
    hwi=coursei[coursei['mode'].isnull()]
    hwi_ques=hwi[hwi['result'].notnull()]
    hwi_material=hwi[hwi['result'].isnull()]
    #s_i=coursei.to_numpy()[:,2] #students
    #q_i=coursei.to_numpy()[:,3] #questions
    #s_exam_i=exami.to_numpy()[:,2] #students
    #q_exam_i=exami.to_numpy()[:,3] #questions
    #s_hw_i=hwi.to_numpy()[:,2] #students
    q_hw_i=hwi.to_numpy()[:,3] #questions
    q_hw_ques_i=np.unique(hwi_ques.to_numpy()[:,3])
    for j in range(len(array_group)):
        coursej=array_group[j]
        #examj=coursej[coursej['mode']=='exam']
        #handj=coursej[coursej['mode']=='hand']
        hwj=coursej[coursej['mode'].isnull()]
        hwj_ques=hwj[hwj['result'].notnull()]
        hwj_material=hwj[hwj['result'].isnull()]
        #s_j=coursej.to_numpy()[:,2] #students
        #q_j=coursej.to_numpy()[:,3] #questions
        #course_overlap[i,j]=len(np.intersect1d(q_i, q_j))
        #s_exam_j=examj.to_numpy()[:,2] #students
        #q_exam_j=examj.to_numpy()[:,3] #questions
        #s_hw_j=hwj.to_numpy()[:,2] #students
        q_hw_j=hwj.to_numpy()[:,3] #questions
        q_hw_ques_j=np.unique(hwj_ques.to_numpy()[:,3])
        #exam_overlap[i,j]=len(np.intersect1d(q_exam_i, q_exam_j))
        #hw_overlap[i,j]=len(np.intersect1d(q_hw_i, q_hw_j))
        hw_ques_overlap[i,j]=len(np.intersect1d(q_hw_ques_i, q_hw_ques_j))

In [68]:
course_overlap = np.loadtxt('course_overlap.csv')
exam_overlap = np.loadtxt('exam_overlap.csv')
hw_overlap = np.loadtxt('hw_overlap.csv')
hw_ques_overlap = np.loadtxt('hw_ques_overlap.csv')

In [14]:
# course_overlap=course_overlap.astype(int)
# exam_overlap=exam_overlap.astype(int)
# hw_overlap=hw_overlap.astype(int)
hw_ques_overlap=hw_ques_overlap.astype(int)
np.savetxt('hw_ques_overlap.csv',hw_ques_overlap)

In [69]:
# Unique question
hw_ques_0=hw_ques_overlap[0,:]
sort = np.argsort(-hw_ques_0)
# Sort the array in descending order
hw_ques_0_sort = hw_ques_0[sort]
print(sort)
hw_ques_0_sort

[ 0 21  6 18 33  7 10 31 23 30 26 16 17 12  4 20 25 11 13 32 24 27 29 28
  5  1  2 15 14  9  8  3 22 19]

array([214., 211., 211., 196., 166., 135., 135., 134., 122.,  94.,  75.,
        75.,  38.,  36.,  27.,  15.,  15.,  14.,   8.,   1.,   0.,   0.,
         0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.])

In [70]:
# Total question + material
hw_0=hw_overlap[0,:]
sorted_indices = np.argsort(-hw_0)
# Sort the array in descending order
hw_0_sort = hw_0[sorted_indices]
hw_0_sort
print(sorted_indices)
hw_0_sort

[ 0  6 21 10 18 33 25  7 31 23 30  4 20 16 26 29  2 17 12 11 13 15 32  8
  9 28 27 14 24 22  1  5  3 19]

array([625., 607., 575., 556., 541., 531., 520., 494., 494., 450., 417.,
       381., 365., 286., 283., 208., 150.,  45.,  43.,  15.,  12.,   3.,
         2.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
         0.])

In [111]:
hw_overlap[4,:]

array([381,   0, 145,   0, 594,   0, 387, 394,   0,   0, 405,  21,  14,
        25,   0,   1, 221,  16, 378,   0, 566, 384,   0, 352,   8, 572,
       222,   7,   0, 203, 315, 399,  71, 375])

In [46]:
df

,timestamp,course,student,resourceID,partID,mode,result
0,1292676876,17PfVQUjnFksY,42xcn1otKzbyA,lib/templates/examupload.problem,NaN,NaN,NaN
1,1292676810,17PfVQUjnFksY,42G67UH9o9VC.,ext/www.pa.msu.edu/~osheabr/teaching/LB273_gra...,NaN,NaN,NaN
2,1292676473,17PfVQUjnFksY,42nnWozrfbHWE,msu/kortemey/physicslib/thermo/tollbooth2.problem,NaN,NaN,NaN
3,1292676458,17PfVQUjnFksY,42nnWozrfbHWE,msu/kortemey/physicslib/oscillations/resonance...,NaN,NaN,NaN
4,1292676405,17PfVQUjnFksY,42twHEdc5L6WM,lib/templates/examupload.problem,NaN,NaN,NaN
...,...,...,...,...,...,...,...
29306635,1231167493,17lWZ7mTKeQg.,42.SSHZ8gHchE,msu/physicslib/msuphysicslib/51_ElectricForce/...,NaN,NaN,NaN
29306636,1231167493,17lWZ7mTKeQg.,42.SSHZ8gHchE,msu/physicslib/msuphysicslib/51_ElectricForce/...,NaN,NaN,NaN
29306637,1231167493,17lWZ7mTKeQg.,42.SSHZ8gHchE,msu/physicslib/msuphysicslib/51_ElectricForce/...,NaN,NaN,NaN
29306638,1231167394,17lWZ7mTKeQg.,42.SSHZ8gHchE,msu/physicslib/msuphysicslib/51_ElectricForce/...,NaN,NaN,NaN
29306639,1231167328,17lWZ7mTKeQg.,42.SSHZ8gHchE,msu/nagytibo/Misc/clickregA.problem,NaN,NaN,NaN

# Combine similar courses

In [106]:
# course0=array_group[0]
# course6=array_group[6]
# course21=array_group[21]
# course10=array_group[10]
# course18=array_group[18]
# course33=array_group[33]
# course31=array_group[31]
# course30=array_group[30]
# course23=array_group[23]
# course4=array_group[4]
# combined_df = pd.concat([course0, course6,course21, course10,course18, course33], axis=0)
# combined_df.reset_index(drop=True, inplace=True)
# combined_df

sem1=np.array([0,6, 21, 10, 18, 33, 25,7, 31, 23, 30,4, 20, 16, 26])
course_sem1=pd.DataFrame()
for i in sem1:
    course=array_group[i]
    course_sem1=pd.concat([course_sem1,course],axis=0)

#course_sem1=pd.concat([array_group[0],array_group[21],array_group[6],array_group[18],array_group[10],array_group[33],array_group[25],array_group[7],array_group[23],array_group[4],,array_group[31],array_group[30],array_group[16],array_group[20],array_group[26]], axis=0)

# course3=array_group[3]
# course1=array_group[1]
# course5=array_group[5]
# course22=array_group[22]
# course19=array_group[19]
# course28=array_group[28]
# combined_df_1 = pd.concat([course1, course3,course5, course22,course19,course28], axis=0)
# combined_df_1.reset_index(drop=True, inplace=True)
# combined_df_1

# course11=array_group[11]
# course13=array_group[13]
# course12=array_group[12]
# course17=array_group[17]
# combined_df_11 = pd.concat([course11, course13,course12, course17], axis=0)
# combined_df_11.reset_index(drop=True, inplace=True)
# combined_df_11

# course4=array_group[4]
# course25=array_group[25]
# course20=array_group[20]
# combined_df_4 = pd.concat([course4, course25,course20], axis=0)
# combined_df_4.reset_index(drop=True, inplace=True)
# combined_df_4

#course8=array_group[8] # bcourse 8 is only related to course19 and course 28, independent of the others

,timestamp,course,student,resourceID,partID,mode,result
0,1320647262,170Rg65URrGNE,42E23hDBkViPo,msu/nagytibo/ModernPhysics/SpecialRelativity/0...,NaN,NaN,NaN
1,1320647262,170Rg65URrGNE,42E23hDBkViPo,msu/nagytibo/Optics/WaveOptics/Exam/examprob00...,NaN,NaN,NaN
2,1320647262,170Rg65URrGNE,42E23hDBkViPo,msu/textbook/serway/Chap26/prob2606_OldEdition...,NaN,NaN,NaN
3,1320647262,170Rg65URrGNE,42E23hDBkViPo,msu/textbook/serway/Chap24/prob2468.problem,NaN,NaN,NaN
4,1320647262,170Rg65URrGNE,42E23hDBkViPo,msu/nagytibo/Optics/WaveOptics/003a.problem,NaN,NaN,NaN
...,...,...,...,...,...,...,...
4752240,1263241800,17mSq8Ta3yYMs,42/JUL0UvfHRs,msu/mmp/kap18/problems/cd459.problem,NaN,NaN,NaN
4752241,1263241660,17mSq8Ta3yYMs,42rT2iP0QwOmY,msu/mmp/kap18/problems/cd459.problem,NaN,NaN,NaN
4752242,1263241402,17mSq8Ta3yYMs,42fp8t0RSbtv6,msu/mmp/kap18/problems/cd459.problem,NaN,NaN,NaN
4752243,1263213089,17mSq8Ta3yYMs,42naKcYsXXubg,msu/mmp/kap18/problems/cd459.problem,NaN,NaN,NaN
4752244,3155738400,17mSq8Ta3yYMs,42ogOhXtWRUDY,mcgrawhill/BauerWestfall/1stEdition/Chapter25/...,b,NaN,incorrect_attempted

In [110]:
combined_df_1

,timestamp,course,student,resourceID,partID,mode,result
0,1320647262,170Rg65URrGNE,42E23hDBkViPo,msu/nagytibo/ModernPhysics/SpecialRelativity/0...,NaN,NaN,NaN
1,1320647262,170Rg65URrGNE,42E23hDBkViPo,msu/nagytibo/Optics/WaveOptics/Exam/examprob00...,NaN,NaN,NaN
2,1320647262,170Rg65URrGNE,42E23hDBkViPo,msu/textbook/serway/Chap26/prob2606_OldEdition...,NaN,NaN,NaN
3,1320647262,170Rg65URrGNE,42E23hDBkViPo,msu/textbook/serway/Chap24/prob2468.problem,NaN,NaN,NaN
4,1320647262,170Rg65URrGNE,42E23hDBkViPo,msu/nagytibo/Optics/WaveOptics/003a.problem,NaN,NaN,NaN
...,...,...,...,...,...,...,...
4752240,1263241800,17mSq8Ta3yYMs,42/JUL0UvfHRs,msu/mmp/kap18/problems/cd459.problem,NaN,NaN,NaN
4752241,1263241660,17mSq8Ta3yYMs,42rT2iP0QwOmY,msu/mmp/kap18/problems/cd459.problem,NaN,NaN,NaN
4752242,1263241402,17mSq8Ta3yYMs,42fp8t0RSbtv6,msu/mmp/kap18/problems/cd459.problem,NaN,NaN,NaN
4752243,1263213089,17mSq8Ta3yYMs,42naKcYsXXubg,msu/mmp/kap18/problems/cd459.problem,NaN,NaN,NaN
4752244,3155738400,17mSq8Ta3yYMs,42ogOhXtWRUDY,mcgrawhill/BauerWestfall/1stEdition/Chapter25/...,b,NaN,incorrect_attempted

In [114]:
# Can we just pool all the courses together? 
# A total of 9,349 individual students accessed 2,464 different content pages and 3,703 different online problems
exam=course_sem1[course_sem1['mode']=='exam']
hand=course_sem1[course_sem1['mode']=='hand']
hw=course_sem1[course_sem1['mode'].isnull()]

HW_ques=hw[hw['result'].notnull()]
HW_material=hw[hw['result'].isnull()]
S_HW=HW_ques.to_numpy()[:,2]
N_HW=np.unique(S_HW)
print('The number of students N in hw: ',len(N_HW))
Q_HW=np.unique(HW_ques.to_numpy()[:,3])
print('The number of questions Q in hw: ',len(Q_HW))
print(HW_ques['result'].unique())
# sort the df by descending time
HW_ques_sort = HW_ques.sort_values(by='timestamp', ascending=False)
HW_ques_sort = HW_ques_sort[HW_ques_sort['result'] != 'ungraded_attempted']
HW_ques_sort = HW_ques_sort[HW_ques_sort['result'] != 'excused']
HW_ques_sort = HW_ques_sort[HW_ques_sort['result'] != 'inealGases']
HW_ques_sort=HW_ques_sort.reset_index(drop=True)

The number of students N in hw:  5045
The number of questions Q in hw:  1029
['incorrect_attempted' 'correct_by_student' 'ungraded_attempted' 'excused'
 'incorrect_attempt1159889901' 'inealGases']

In [117]:
HW_ques
HW_ques_sort

,timestamp,course,student,resourceID,partID,mode,result
0,1295338017,17FGvfsKTd9qg,42Z2Q5wFk/Xkg,msu/nagytibo/Mechanics/Kinematics/001.problem,02,NaN,incorrect_attempted
1,1295338010,17FGvfsKTd9qg,42Z2Q5wFk/Xkg,msu/nagytibo/Mechanics/Kinematics/001.problem,02,NaN,incorrect_attempted
2,1286626348,17pHpKo0nAoak,42Z2Q5wFk/Xkg,mcgrawhill/BauerWestfall/1stEdition/Chapter07/...,d,NaN,correct_by_student
3,1286626278,17pHpKo0nAoak,42Z2Q5wFk/Xkg,mcgrawhill/BauerWestfall/1stEdition/Chapter07/...,d,NaN,incorrect_attempted
4,1286626140,17pHpKo0nAoak,42Z2Q5wFk/Xkg,mcgrawhill/BauerWestfall/1stEdition/Chapter07/...,c,NaN,correct_by_student
...,...,...,...,...,...,...,...
2996423,1030372677,17y.VYL4BL2JI,42bee01G4HQN.,msu/mmp/kap1/problems/cd013.problem,0,NaN,incorrect_attempted
2996424,1030372591,17y.VYL4BL2JI,42bee01G4HQN.,msu/mmp/kap1/problems/cd012.problem,0,NaN,correct_by_student
2996425,1030368937,17y.VYL4BL2JI,42hjm8IFM3D8k,msu/mmp/kap1/problems/cd012.problem,0,NaN,correct_by_student
2996426,1030360245,17y.VYL4BL2JI,424hcgCJ9kPss,msu/mmp/kap1/problems/cd015.problem,0,NaN,correct_by_student
2996427,1029848488,17y.VYL4BL2JI,42wE5lhXnq87.,msu/mmp/kap2/problems/click_v0.problem,0,NaN,incorrect_attempted

In [122]:

# HW_ques_sort
# HW_ques_sort['timestamp'] == HW_ques_sort['timestamp'].sort_values(ascending=False)
# a= HW_ques_sort['timestamp'].reset_index(drop=True)
# b = HW_ques_sort['timestamp'].sort_values(ascending=False)
# b.reset_index(drop=True)
# a==b
# is_decreasing = HW_ques_sort['timestamp'].is_monotonic_decreasing
# is_decreasing
HW_ques_sort['result'].unique()

array(['incorrect_attempted', 'correct_by_student',
       'incorrect_attempt1159889901'], dtype=object)

In [123]:
my_dict = {} # dictionary for question id

for i in range(len(Q_HW)):
    my_dict[Q_HW[i]] = i  # You can assign values to the keys if needed

f1=np.frompyfunc(lambda hw_name, dic: dic[hw_name], 2, 1)
# my_dict['msu/hallstei/PHY 231C/Homework/MISC/hw001.problem']
total_array=[]
for n in range(len(N_HW)):
    N=HW_ques_sort[HW_ques_sort['student']==N_HW[n]]
    total_array.append(N.shape[0]) # length
    q_list=N.to_numpy()[:,3][::-1]# we want order according to time
    result_list=N.to_numpy()[:,6][::-1]
    q_id=f1(q_list, my_dict)
    output = ''# string type
    flag_q=True
    for i in q_id:
        if flag_q:
            flag_q = False
        else:    train_result="Standard BKT (train_auc):"+str(model.evaluate(data_path = "data/df1_bkt_train.csv", metric="auc"))
    valid_result="Standard BKT (valid_auc):"+str(model.evaluate(data_path = "data/df1_bkt_test.csv", metric="auc"))
    print(train_result)
    print(valid_result)
    logger.info(train_result)
    logger.info(valid_result)
            output+=','
        output += f"{i}"
    total_array.append(output) # ques
    ans=''
    flag = True
    for i in range(len(result_list)):
        if flag:
            flag = False
        else:
            ans += ','
        if result_list[i]=='correct_by_student':
            ans +=str(1)
        else:
            ans+=str(0)
    total_array.append(ans)

In [126]:
len(total_array)

15135

In [127]:
# if any(element == '' for element in total_array):
#     print("The list contains empty elements.")
# else:
#     print("The list does not contain empty elements.")
# Check and find if there are empty elements in the list 

indices_of_empty_elements = [index for index, element in enumerate(total_array) if element == '']

if indices_of_empty_elements:
    print("Empty elements found at indices:", indices_of_empty_elements)
else:
    print("No empty elements found in the list.")
idx_remove=[4656, 6711,11931]
idx_remove.extend(indices_of_empty_elements)
total_array_update = [element for index, element in enumerate(total_array) if index not in idx_remove]

Empty elements found at indices: [4657, 4658, 6712, 6713, 11932, 11933]

In [128]:
file_path = "sem1_new.csv"
np.savetxt(file_path, total_array_update, delimiter=',', fmt='%s')

In [130]:
sem1_new=pd.read_csv('sem1_new.csv',header=None,sep="\t")
sem1_new
sem1_new_train=sem1_new.to_numpy()[0:12000]
sem1_new_test=sem1_new.to_numpy()[12000:]
np.savetxt('sem1_new_train.csv', sem1_new_train, delimiter=',', fmt='%s')
np.savetxt('sem1_new_test.csv', sem1_new_test, delimiter=',', fmt='%s')

In [133]:
sem1_new_train=pd.read_csv('sem1_new_train.csv',header=None,sep='\t')
sem1_new_train

                                                       0
0                                                    737
1      58,58,61,61,82,82,83,83,84,763,763,763,763,763...
2      0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,...
3                                                    846
4      460,460,480,480,450,483,459,449,449,487,487,48...
...                                                  ...
11995  238,243,242,242,242,242,460,460,480,450,483,48...
11996  1,1,0,0,1,1,0,1,1,1,0,1,0,0,1,1,0,0,1,1,0,1,0,...
11997                                                636
11998  717,752,753,60,754,58,58,58,58,59,59,59,59,61,...
11999  1,1,1,1,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,1,0,1,...

[12000 rows x 1 columns]

In [52]:
# Convert it into BKT dataset form

ques_dict_4 = {} # dictionary for question id
stud_dict_4 = {} # dictionary for student id
length=HW_ques_sort.to_numpy().shape[0]
comb_df_1=np.zeros((length,3))
for i in range(len(Q_HW)):
    ques_dict_4[Q_HW[i]] = i  # You can assign values to the keys if needed
for i in range(len(N_HW)):
    stud_dict_4[N_HW[i]] = i  # You can assign values to the keys if needed
    
f1=np.frompyfunc(lambda hw_name, dic: dic[hw_name], 2, 1)

# # my_dict['msu/hallstei/PHY 231C/Homework/MISC/hw001.problem']
for n in range(length):
    stud=HW_ques_sort.to_numpy()[n,2]
    ques=HW_ques_sort.to_numpy()[n,3]
    result=HW_ques_sort.to_numpy()[n,6]
    q_id=f1(ques, ques_dict_4)
    s_id=f1(stud, stud_dict_4)
    comb_df_1[n,0]=s_id
    comb_df_1[n,1]=q_id
    if result=='correct_by_student':
        comb_df_1[n,2]=1
    else:
        comb_df_1[n,2]=0
course_sem1_bkt=comb_df_1.astype(int)

In [92]:
# file_path = "course_sem1_bkt.csv"
# np.savetxt(file_path, course_sem1_bkt, delimiter=',', fmt='%s')
course4_bkt=pd.read_csv('course4_bkt.csv',header=None,sep='\t',delimiter=',')
course4_bkt
# course_sem1_bkt_train=course_sem1_bkt.to_numpy()[0:2400000]
# course_sem1_bkt_test=course_sem1_bkt.to_numpy()[2400000:]
# np.savetxt('course_sem1_bkt_train.csv', course_sem1_bkt_train, delimiter=',', fmt='%s')
# np.savetxt('course_sem1_bkt_test.csv', course_sem1_bkt_test, delimiter=',', fmt='%s')

          0   1  2
0       377  27  0
1       377  27  0
2       778   1  0
3       778   1  0
4       778   1  1
...     ...  .. ..
409158  607  77  0
409159  607  77  0
409160  607  77  0
409161  581  56  1
409162  581  75  1

[409163 rows x 3 columns]

In [56]:
course_sem1_bkt_train=pd.read_csv('course_sem1_bkt_train.csv',header=None,sep='\t',delimiter=',')
course_sem1_bkt_train

            0    1  2
0        2901  678  0
1        2901  678  0
2        2901   12  1
3        2901   12  0
4        2901   12  1
...       ...  ... ..
2399995  3022   82  1
2399996  4591   87  1
2399997  1081   86  0
2399998  2010   81  0
2399999  4601   86  0

[2400000 rows x 3 columns]

In [286]:

# for i in range(len(array_group)):
#     course1=array_group[4]
#     exam1=course1[course1['mode']=='exam']
#     hand1=course1[course1['mode']=='hand']
#     hw1=course1[course1['mode'].isnull()]
#     s1=course1.to_numpy()[:,2]
#     N_learner+=np.unique(s1)
#     print('The number of students N: ',len(N_learner))
#     # how many questions in exam
#     q1=exam1.to_numpy()[:,3]
#     Q=np.unique(q1)
s1=df.to_numpy()[:,2]
print(np.unique(s1))
q1=df.to_numpy()[:,3]
print(np.unique(q1))

['42.08atpUHfqE' '42.0QTwpmhB0o' '42.1VqZ6o2roA' ... '42zyAZyYyqfVQ'
 '42zzAbMQFmoxo' 'knupplau%ource%2e0%2etries=1:']
['/res/msu/kashy/physicsLib02/15_CM_MomentInertia/CMptmassgrid.problem'
 'Selwyn/mopez/relativity/Time Dilation/time2.problem'
 "bellaire/tbaeckeroot/Workspace07/Snell's Law.problem" ...
 'wiley/hrw/9e/chapter34/34-010.problem'
 'wiley/hrw/9e/chapter35/35-016.problem'
 'wiley/hrw/9e/chapter35/35-017.problem']

In [288]:
print(len(np.unique(s1)))
print(len(np.unique(q1)))

9374
6167

In [245]:
#print(hw1['result'].notnull().sum())
hw_ques=hw1[hw1['result'].notnull()]
hw_material=hw1[hw1['result'].isnull()]
#exam1[exam1['resourceID']==Q[1]]
hw_ung=hw1[hw1['result']=='ungraded_attempted']
hw_cor=hw1[hw1['result']=='correct_by_student']
hw_incor=hw1[hw1['result']=='incorrect_attempted']
hw1['result'].unique()
# hw1[hw1['result']=='excused']
# # exc['resourceID'].unique()
# hw_cor['partID'].unique()

array([nan, 'correct_by_student', 'incorrect_attempted'], dtype=object)

In [26]:
# See the percentage of observation
no_ans=exam1[exam1['result']=='noanswer_or_invalid'].shape[0]
corr_ans=exam1[exam1['result']=='correct_by_scantron'].shape[0]
wrong_ans=exam1[exam1['result']=='incorrect_attempted'].shape[0]
exam1[exam1['result']=='incorrect_attempted']
print('The percentage of observation is',1-no_ans/exam1.shape[0])

The percentage of observation is 0.49968776610843035

In [82]:
# how many students in exam
s1=exam1.to_numpy()[:,2]
N_learner=np.unique(s1)
print('The number of students N: ',len(N_learner))
# how many questions in exam
q1=exam1.to_numpy()[:,3]
Q=np.unique(q1)
print('The number of questions Q: ',len(Q))

The number of students N:  0
The number of questions Q:  0

# Record dataset
course 0,4,5,6,7,8,9,10,11,12,13,17,19,21,27,28,31,32, homework: array([nan, 'incorrect_attempted', 'correct_by_student'], dtype=object), no ungraded_attempted 
course 1: array([nan, 'correct_by_student', 'incorrect_attempted','ungraded_attempted'], dtype=object)
course 23, 33: array([nan, 'correct_by_student', 'incorrect_attempted', 'excused'], dtype=object)-- just very few entries, one question
course 25: array([nan, 'correct_by_student', 'incorrect_attempted','incorrect_attempt1159889901', 'ungraded_attempted'], dtype=object)-just one data

# Course 0 HW: 189 students and 214 questions
# Course 4 HW: 860 students and 161 questions
 Course 5 HW: 393 students and 207 questions
 Course 6 HW: 292 students and 223 questions
 Course 7 HW: 75 students and 224 questions
 Course 8 HW: 456 students and 138 questions
 Course 9 HW: 483 students and 215 questions
 Course 10 HW: 225 students and 190 questions
 Course 11 HW: 470 students and 160 questions
 Course 12 HW: 329 students and 246 questions
 Course 13 HW: 488 students and 177 questions
 Course 17 HW: 431 students and 246 questions
 Course 19 HW: 314 students and 255 questions
 Course 21 HW: 196 students and 222 questions
 Course 27 HW: 606 students and 193 questions
 Course 28 HW: 430 students and 135 questions
 Course 31 HW: 212 students and 200 questions
 Course 32 HW: 472 students and 219 questions

In [15]:
exam=combined_df_1[combined_df_1['mode']=='exam']
hand=combined_df_1[combined_df_1['mode']=='hand']
hw=combined_df_1[combined_df_1['mode'].isnull()]
HW_ques=hw[hw['result'].notnull()]
HW_material=hw[hw['result'].isnull()]
S_HW=HW_ques.to_numpy()[:,2]
N_HW=np.unique(S_HW)
print('The number of students N in hw: ',len(N_HW))
Q_HW=np.unique(HW_ques.to_numpy()[:,3])
print('The number of questions Q in hw: ',len(Q_HW))
print(HW_ques['result'].unique())
# sort the df by descending time
HW_ques_sort = HW_ques.sort_values(by='timestamp', ascending=False)
HW_ques_sort=HW_ques_sort.reset_index(drop=True)
HW_ques_sort

The number of students N in hw:  2080
The number of questions Q in hw:  493
['correct_by_student' 'incorrect_attempted' 'ungraded_attempted']

,timestamp,course,student,resourceID,partID,mode,result
0,3155738400,17mSq8Ta3yYMs,42ogOhXtWRUDY,mcgrawhill/BauerWestfall/1stEdition/Chapter25/...,b,NaN,incorrect_attempted
1,1298311300,17XyLE6fAS21U,42t6Y2LkeEt1Y,msu/mmp/relativity/problems/relativity09.problem,0,NaN,correct_by_student
2,1298311093,17XyLE6fAS21U,42t6Y2LkeEt1Y,msu/mmp/relativity/problems/relativity07.problem,0,NaN,correct_by_student
3,1298310999,17XyLE6fAS21U,42t6Y2LkeEt1Y,msu/mmp/relativity/problems/relativity02.problem,0,NaN,correct_by_student
4,1298310906,17XyLE6fAS21U,42t6Y2LkeEt1Y,msu/mmp/relativity/problems/relativity01.problem,0,NaN,correct_by_student
...,...,...,...,...,...,...,...
1400896,1199539489,173XHazC4puKI,42AAcbCjrFHPI,msu/mmp/kap18/problems/cd460b.problem,0,NaN,incorrect_attempted
1400897,1199539398,173XHazC4puKI,42AAcbCjrFHPI,msu/mmp/kap18/problems/cd460a.problem,0,NaN,correct_by_student
1400898,1199539361,173XHazC4puKI,42AAcbCjrFHPI,msu/mmp/kap18/problems/cd460.problem,0,NaN,correct_by_student
1400899,1199538747,173XHazC4puKI,42AAcbCjrFHPI,msu/mmp/kap18/problems/cd459.problem,0,NaN,correct_by_student
1400900,1199538743,173XHazC4puKI,42AAcbCjrFHPI,msu/mmp/kap18/problems/cd459.problem,0,NaN,incorrect_attempted

In [263]:
# For homework questions, check how many students and how many questions in total
S_hw=hw_ques.to_numpy()[:,2]
N_hw=np.unique(S_hw)
print('The number of students N: ',len(N_hw))
# how many questions in exam
Q_hw=np.unique(hw_ques.to_numpy()[:,3])
print('The number of questions Q: ',len(Q_hw))
len(N_hw)
hw_ques_sort

The number of students N:  860
The number of questions Q:  161

,timestamp,course,student,resourceID,partID,mode,result
26847308,1211816944,178UapjfFklEc,42RyQy8XLRwNg,msu/kashy/physicsLib02/38_MW_Sound_Doppler/man...,11,NaN,incorrect_attempted
26847306,1211816953,178UapjfFklEc,42RyQy8XLRwNg,msu/kashy/physicsLib02/38_MW_Sound_Doppler/man...,11,NaN,incorrect_attempted
26846362,1217874374,178UapjfFklEc,42uHleBbtvATA,msu/kashy/Champ2002/champprobs/RectAreaPerimet...,0,NaN,incorrect_attempted
26846360,1217874442,178UapjfFklEc,42uHleBbtvATA,msu/kashy/Champ2002/champprobs/RectAreaPerimet...,0,NaN,incorrect_attempted
26846358,1217874450,178UapjfFklEc,42uHleBbtvATA,msu/kashy/Champ2002/champprobs/RectAreaPerimet...,0,NaN,correct_by_student
...,...,...,...,...,...,...,...
25672432,1228990709,178UapjfFklEc,42irtwDSxtIYM,msu/physicslib/msuphysicslib/01_Math_1/msu-pro...,0,NaN,incorrect_attempted
25672430,1228990713,178UapjfFklEc,42irtwDSxtIYM,msu/physicslib/msuphysicslib/01_Math_1/msu-pro...,0,NaN,incorrect_attempted
25672425,1228990717,178UapjfFklEc,42irtwDSxtIYM,msu/physicslib/msuphysicslib/01_Math_1/msu-pro...,0,NaN,incorrect_attempted
25668941,1229003312,178UapjfFklEc,42hDZACMI.lLA,msu/nagytibo/Misc/presence2.problem,0,NaN,correct_by_student
25668920,1229003371,178UapjfFklEc,42hDZACMI.lLA,msu/physicslib/msuphysicslib/01_Math_1/msu-pro...,0,NaN,correct_by_student

In [23]:
df_2=pd.read_csv('./adaptive-e-learning-for-educational-recommendation-system/DeepKnowledgeTracing-DKT-Pytorch/DKT/KTDataset/kddcup2010/kddcup2010_train.txt',header=None,sep='\t')
df_2
df_2_test=pd.read_csv('./adaptive-e-learning-for-educational-recommendation-system/DeepKnowledgeTracing-DKT-Pytorch/DKT/KTDataset/kddcup2010/kddcup2010_test.txt',header=None,sep='\t')
df_2_test
kddcup = pd.concat([df_2, df_2_test], axis=0)
kddcup

                                                      0
0                                                   436
1     447,568,580,394,41,91,643,152,474,523,428,526,...
2     1,1,1,1,1,1,0,0,1,1,1,1,1,1,1,0,0,1,1,0,0,0,1,...
3                                                   407
4     447,568,580,394,41,91,643,152,474,523,428,526,...
...                                                 ...
1609  447,568,580,394,41,91,643,152,474,523,428,526,...
1610  1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,1,1,1,1,0,1,1,...
1611                                                 57
1612  447,568,580,394,41,91,643,152,474,523,428,526,...
1613  1,0,1,1,1,1,1,1,1,0,1,0,1,1,0,0,1,1,0,0,0,1,0,...

[8076 rows x 1 columns]

In [17]:
ques_dict_4 = {} # dictionary for question id
stud_dict_4 = {} # dictionary for student id
length=HW_ques_sort.to_numpy().shape[0]
comb_df_1=np.zeros((length,3))
Q_HW=
for i in range(len(Q_HW)):
    ques_dict_4[Q_HW[i]] = i  # You can assign values to the keys if needed
for i in range(len(N_HW)):
    stud_dict_4[N_HW[i]] = i  # You can assign values to the keys if needed
    
f1=np.frompyfunc(lambda hw_name, dic: dic[hw_name], 2, 1)

# # my_dict['msu/hallstei/PHY 231C/Homework/MISC/hw001.problem']
for n in range(length):
    stud=HW_ques_sort.to_numpy()[n,2]
    ques=HW_ques_sort.to_numpy()[n,3]
    result=HW_ques_sort.to_numpy()[n,6]
    q_id=f1(ques, ques_dict_4)
    s_id=f1(stud, stud_dict_4)
    comb_df_1[n,0]=s_id
    comb_df_1[n,1]=q_id
    if result=='correct_by_student':
        comb_df_1[n,2]=1
    else:
        comb_df_1[n,2]=0
comb_df_1=comb_df_1.astype(int)

In [20]:
file_path = "comb_df1_bkt.csv"
np.savetxt(file_path, comb_df_1, delimiter=',', fmt='%s')
comb_df_1=pd.read_csv('comb_df1_bkt.csv',header=None,sep='\t',delimiter=',')
comb_df_1
comb_df_1_train=comb_df_1.to_numpy()[0:1150000]
comb_df_1_test=comb_df_1.to_numpy()[1150000:]
np.savetxt('comb_df_1_train.csv', comb_df_1_train, delimiter=',', fmt='%s')
np.savetxt('comb_df_1_test.csv', comb_df_1_test, delimiter=',', fmt='%s')

In [315]:
my_dict_4 = {} # dictionary for question id

for i in range(len(Q_hw)):
    my_dict_4[Q_hw[i]] = i  # You can assign values to the keys if needed

# Print the dictionary
# print(my_dict)
f1=np.frompyfunc(lambda hw_name, dic: dic[hw_name], 2, 1)
# my_dict['msu/hallstei/PHY 231C/Homework/MISC/hw001.problem']
array_4=[]
for n in range(len(N_hw)):
    N=hw_ques[hw_ques['student']==N_hw[n]]
    array_4.append(N.shape[0]) # length
    q_list=N.to_numpy()[:,3][::-1]# we want order according to time
    result_list=N.to_numpy()[:,6][::-1]
    q_id=f1(q_list, my_dict_4)
    output = ''# string type
    for i in q_id:
        output += f"{i},"
    array_4.append(output) # ques
    ans=''
    for i in range(len(result_list)):
        if result_list[i]=='incorrect_attempted':
            ans +=str(0)+','
        elif result_list[i]=='correct_by_student':
            ans+=str(1)+','
    array_4.append(ans)

NameError: name 'total_array' is not defined

In [145]:
file_path = "course27.csv"

# Save the NumPy array as a CSV file
np.savetxt(file_path, array_4, delimiter=',', fmt='%s')

In [187]:
course27_train[7]

array(['32,67,5,68,68,68,68,68,68,68,65,65,65,31,68,68,68,68,68,68,65,65,68,68,68,68,68,68,69,69,69,69,69,69,70,71,71,71,71,71,72,72,78,6,73,72,77,77,71,78,78,74,74,74,27,27,26,26,72,72,25,25,27,27,26,75,75,76,76,76,76,76,76,76,79,79,79,79,79,81,156,156,86,86,86,86,76,76,79,80,82,83,85,85,85,85,85,157,157,157,157,86,86,89,89,76,76,76,84,157,76,157,157,157,157,157,157,157,86,86,86,89,89,158,159,159,160,160,161,161,161,161,162,162,162,162,162,162,162,163,163,163,163,164,164,164,164,164,164,164,93,93,164,16,16,16,165,166,166,166,92,92,92,92,92,92,92,92,92,92,93,93,93,0,0,141,142,142,146,140,21,1,13,18,18,148,148,148,167,167,22,22,22,22,168,168,169,169,169,170,94,94,91,95,170,170,94,94,94,94,94,94,94,96,96,96,10,87,87,170,170,171,171,171,94,94,94,94,171,170,97,7,7,171,171,171,7,170,88,97,7,170,170,96,96,96,96,97,87,87,170,87,87,94,177,177,177,177,177,177,177,177,177,177,100,103,103,101,172,98,98,176,173,174,174,174,174,174,180,180,180,180,99,104,104,175,175,179,179,179,105,105,105,105,105,179,177,177,104,104,109,108,108,108,181,181,181,181,106,106,106,106,107,107,107,107,107,110,110,110,110,110,110,110,110,111,117,116,116,116,116,116,116,144,116,116,116,116,116,116,30,30,150,150,152,102,178,29,29,28,151,151,151,111,153,153,153,153,182,182,182,182,112,112,113,183,183,183,183,184,184,184,184,184,184,114,114,114,114,114,114,114,115,115,115,115,115,115,115,115,122,125,121,118,118,118,118,118,118,118,118,119,119,119,119,119,119,125,119,119,121,120,120,120,122,122,122,122,122,59,59,126,127,123,124,124,128,128,128,128,128,128,128,128,129,130,130,130,130,186,134,134,131,131,131,131,131,131,131,132,133,133,133,133,187,188,188,188,192,192,192,192,192,192,189,189,190,190,190,190,190,8,8,191,191,191,191,191,191,191,191,62,62,191,62,9,115,115,115,115,115,185,61,155,155,154,154,154,154,154,154,154,64,64,64,64,64,60,60,60,60,60,63,63,63,63,63,63,135,136,136,136,136,137,137,137,137,137,137,55,55,55,55,55,56,56,56,56,51,51,53,53,53,53,53,57,57,57,4,4,4,38,38,38,38,38,38,47,47,46,39,39,40,40,42,44,44,45,43,43,43,43,43,43,43,43,43,49,49,49,49,49,49,49,49,49,36,37,37,37,41,41,41,41,41,35,35,35,34,34,33,33,33,33,33,33,33,'],
      dtype=object)

In [202]:
course4_train=course4.to_numpy()[0:2100]
course4_test=course4.to_numpy()[2100:]
np.savetxt('course4_train.csv', course4_train, delimiter=',', fmt='%s')
np.savetxt('course4_test.csv', course4_test, delimiter=',', fmt='%s')
# train_27=course27.iloc[:1500]
# test_27=course27.iloc[1500:]
#course27_train.to_csv("course27_train.csv")
#test_27.to_csv("test_27.csv")

In [201]:
course4=pd.read_csv('course4.csv',header=None,sep='\t')
course4

                                                      0
0                                                   540
1     56,75,75,75,76,2,2,77,77,77,1,1,1,3,11,79,80,8...
2     1,0,0,1,1,0,1,0,0,1,0,0,1,1,1,1,0,0,0,0,0,0,0,...
3                                                   501
4     56,75,76,2,2,77,77,77,77,77,77,77,77,77,77,77,...
...                                                 ...
2575  1,1,1,3,3,3,3,3,11,11,11,11,11,11,79,80,80,80,...
2576  0,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,...
2577                                                680
2578  56,75,1,1,1,76,75,79,79,3,11,11,79,80,80,80,81...
2579  1,0,0,0,1,1,1,0,0,1,0,1,1,0,0,1,0,0,0,0,0,0,0,...

[2580 rows x 1 columns]

In [250]:
# N0=hw_ques[hw_ques['student']==N_hw[2]]
# print(np.unique(N0.to_numpy()[:,3]).shape)
# print(N0.to_numpy()[:,3].shape)

# check if the order is based on timestamp
# and print out how many unique exercise each studend takes
count=0
Q_uni=[]
idx=[]
hw_ques_copy=hw_ques.copy()
for n in range(len(N_hw)):
    N=hw_ques[hw_ques['student']==N_hw[n]]
    sorted_df = N.sort_values(by='timestamp', ascending=False)
#    sorted_df = sorted_df.reset_index(drop=True)
#    hw_ques.loc[sorted_df.index] = sorted_df
#    hw_ques.loc[hw_ques['student']==N_hw[n]]=sorted_df.values
    # Check if the sorted order m#atches the original order
    is_order=N.equals(sorted_df)
    if is_order:
        count+=1
    else:
        print('the unordered student is:',n)
        idx.append(n)
    Q_uni.append(np.unique(N.to_numpy()[:,3]).shape[0])
print(count)
print('How many unique questions each student takes:')
print(Q_uni)
np.unique(Q_uni)

the unordered student is: 33
the unordered student is: 43
the unordered student is: 46
the unordered student is: 59
the unordered student is: 115
the unordered student is: 135
the unordered student is: 146
the unordered student is: 193
the unordered student is: 236
the unordered student is: 276
the unordered student is: 287
the unordered student is: 321
the unordered student is: 341
the unordered student is: 411
the unordered student is: 425
the unordered student is: 447
the unordered student is: 462
the unordered student is: 463
the unordered student is: 558
the unordered student is: 609
the unordered student is: 610
the unordered student is: 611
the unordered student is: 661
the unordered student is: 712
the unordered student is: 859
835
How many unique questions each student takes:
[140, 144, 144, 142, 136, 132, 145, 18, 142, 145, 139, 126, 144, 33, 145, 140, 13, 135, 145, 42, 18, 27, 139, 27, 124, 128, 145, 142, 141, 145, 143, 138, 12, 145, 130, 20, 144, 140, 143, 32, 138, 145, 128, 143, 145, 55, 145, 141, 121, 26, 145, 143, 138, 139, 145, 138, 144, 126, 144, 143, 29, 130, 128, 55, 139, 145, 19, 138, 140, 144, 144, 101, 136, 142, 145, 124, 79, 144, 24, 130, 135, 95, 124, 121, 143, 102, 139, 145, 124, 12, 144, 13, 144, 145, 145, 137, 143, 135, 144, 137, 143, 135, 143, 117, 99, 136, 138, 133, 139, 143, 145, 136, 144, 113, 140, 144, 139, 143, 37, 132, 117, 144, 145, 140, 140, 139, 143, 145, 140, 144, 104, 108, 68, 121, 141, 139, 141, 144, 140, 139, 144, 139, 144, 141, 145, 138, 144, 137, 58, 13, 135, 138, 141, 137, 146, 140, 11, 142, 144, 131, 131, 143, 133, 139, 141, 145, 144, 144, 141, 143, 124, 139, 68, 144, 66, 138, 144, 145, 18, 139, 145, 144, 130, 144, 128, 121, 110, 134, 145, 144, 145, 138, 139, 145, 139, 148, 137, 111, 144, 5, 144, 144, 144, 143, 144, 93, 145, 137, 131, 143, 138, 137, 145, 138, 79, 134, 114, 139, 144, 145, 96, 145, 94, 144, 145, 144, 142, 138, 143, 144, 140, 137, 144, 130, 139, 145, 136, 140, 107, 138, 144, 145, 139, 143, 121, 132, 101, 32, 142, 144, 40, 145, 144, 143, 137, 140, 138, 143, 97, 145, 119, 143, 143, 144, 116, 145, 137, 138, 145, 131, 139, 114, 136, 135, 144, 132, 129, 115, 145, 145, 144, 139, 63, 145, 145, 144, 139, 144, 137, 143, 5, 141, 138, 144, 144, 145, 136, 146, 144, 97, 145, 145, 147, 132, 141, 144, 144, 140, 123, 124, 138, 144, 144, 71, 145, 131, 139, 139, 143, 137, 145, 134, 144, 135, 144, 125, 127, 143, 142, 139, 79, 130, 1, 139, 113, 145, 19, 107, 145, 6, 105, 123, 144, 138, 156, 145, 131, 145, 141, 144, 140, 92, 132, 145, 139, 138, 142, 145, 139, 136, 144, 34, 144, 135, 131, 142, 130, 144, 144, 125, 143, 145, 145, 131, 145, 145, 129, 38, 144, 130, 91, 142, 138, 99, 105, 129, 144, 144, 142, 141, 144, 136, 144, 133, 142, 144, 141, 65, 138, 139, 145, 135, 143, 140, 145, 144, 144, 139, 139, 144, 113, 145, 42, 136, 132, 140, 128, 89, 144, 137, 144, 138, 145, 144, 138, 142, 139, 145, 152, 130, 11, 139, 144, 144, 62, 139, 140, 138, 7, 107, 131, 123, 26, 59, 138, 130, 103, 142, 48, 134, 141, 146, 110, 142, 145, 48, 151, 142, 137, 135, 141, 133, 139, 144, 142, 21, 144, 144, 142, 144, 28, 8, 144, 127, 143, 139, 128, 139, 145, 45, 145, 48, 145, 144, 145, 145, 22, 143, 115, 143, 7, 106, 145, 145, 125, 145, 124, 141, 1, 145, 140, 140, 145, 133, 142, 145, 139, 139, 136, 143, 144, 140, 141, 145, 18, 102, 121, 141, 125, 144, 139, 131, 144, 141, 145, 139, 91, 145, 129, 140, 130, 129, 124, 145, 120, 140, 114, 145, 114, 139, 15, 139, 29, 144, 143, 109, 145, 130, 145, 145, 142, 2, 140, 144, 140, 144, 142, 111, 138, 134, 1, 18, 145, 119, 139, 5, 94, 142, 144, 142, 122, 142, 143, 143, 128, 134, 129, 107, 141, 137, 112, 29, 125, 140, 104, 145, 144, 143, 136, 139, 140, 71, 126, 106, 145, 143, 144, 77, 144, 11, 138, 145, 131, 61, 132, 133, 140, 142, 143, 84, 120, 99, 124, 130, 143, 141, 126, 126, 143, 141, 146, 119, 144, 94, 143, 143, 147, 60, 145, 143, 145, 113, 131, 111, 123, 145, 145, 143, 123, 145, 144, 138, 137, 145, 140, 119, 141, 137, 145, 144, 141, 144, 139, 117, 74, 144, 144, 143, 140, 144, 135, 145, 144, 145, 50, 143, 119, 145, 48, 139, 135, 127, 6, 143, 144, 130, 138, 144, 144, 135, 115, 129, 137, 135, 144, 145, 126, 143, 145, 145, 117, 128, 143, 140, 145, 83, 127, 26, 143, 140, 140, 130, 136, 143, 56, 145, 144, 121, 134, 144, 132, 140, 145, 144, 143, 133, 124, 145, 130, 145, 138, 145, 143, 144, 138, 122, 144, 118, 137, 144, 142, 142, 144, 4, 144, 135, 20, 143, 142, 143, 115, 30, 145, 139, 144, 145, 139, 62, 80, 141, 135, 132, 144, 133, 140, 138, 144, 104, 144, 128, 140, 144, 5, 143, 140, 142, 140, 138, 121, 139, 139, 141, 126, 140, 59, 133, 131, 135, 52, 135, 137, 140, 144, 141, 118, 145, 50, 144, 139, 143, 1, 144, 130, 145, 134, 127, 131, 133, 143, 131, 140, 138, 100, 138, 144, 121, 13, 144, 40, 119, 145, 144, 145, 142, 157, 22, 136, 125, 141, 144, 145, 109, 143, 80, 127, 143, 140, 144, 144, 142, 149, 140, 144, 144, 134, 105, 139, 145, 145, 145, 127, 139, 139, 141, 135, 144, 59, 145, 131, 22, 120, 145, 137, 142, 144, 145, 136, 117, 95, 139]

array([  1,   2,   4,   5,   6,   7,   8,  11,  12,  13,  15,  18,  19,
        20,  21,  22,  24,  26,  27,  28,  29,  30,  32,  33,  34,  37,
        38,  40,  42,  45,  48,  50,  52,  55,  56,  58,  59,  60,  61,
        62,  63,  65,  66,  68,  71,  74,  77,  79,  80,  83,  84,  89,
        91,  92,  93,  94,  95,  96,  97,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 151, 152, 156, 157])

In [253]:
N_hw_arr=[] # show each student takes how many homework questions
for i in range(len(N_hw)):
    N1=hw_ques[hw_ques['student']==N_hw[i]]
    N_hw_arr.append(N1.shape[0])
print('How many TOTAL questions each student takes:',end='\n')
print(N_hw_arr)
N1

How many TOTAL questions each student takes:
[540, 501, 466, 410, 433, 521, 540, 73, 502, 488, 686, 356, 560, 119, 493, 545, 39, 563, 503, 124, 62, 62, 736, 70, 403, 372, 576, 391, 647, 491, 474, 577, 69, 596, 563, 87, 514, 467, 657, 101, 709, 522, 732, 681, 627, 153, 680, 631, 455, 76, 432, 509, 414, 479, 652, 551, 437, 526, 540, 545, 119, 332, 427, 150, 527, 704, 76, 536, 554, 443, 636, 449, 455, 622, 492, 596, 342, 513, 104, 411, 439, 259, 348, 404, 450, 406, 370, 620, 446, 36, 564, 31, 724, 582, 602, 445, 356, 621, 414, 749, 873, 477, 415, 332, 453, 370, 484, 445, 497, 505, 534, 667, 414, 506, 434, 617, 542, 810, 212, 477, 274, 429, 569, 549, 482, 479, 553, 467, 465, 423, 398, 392, 267, 495, 448, 475, 443, 552, 471, 583, 494, 428, 563, 447, 419, 461, 524, 463, 140, 53, 560, 443, 515, 360, 634, 757, 21, 535, 621, 497, 715, 489, 442, 615, 466, 960, 479, 776, 435, 566, 433, 649, 324, 466, 246, 531, 430, 364, 88, 618, 498, 737, 657, 472, 455, 727, 422, 450, 488, 467, 562, 387, 493, 676, 470, 920, 520, 367, 660, 5, 534, 594, 534, 452, 604, 245, 512, 478, 407, 476, 499, 485, 626, 424, 200, 600, 317, 689, 481, 475, 291, 544, 245, 396, 596, 692, 528, 434, 561, 557, 684, 334, 558, 558, 476, 452, 403, 532, 319, 364, 642, 476, 610, 648, 367, 463, 325, 167, 352, 690, 152, 521, 632, 416, 391, 512, 627, 608, 349, 1131, 334, 621, 805, 396, 338, 673, 414, 521, 550, 488, 686, 383, 494, 445, 503, 514, 451, 376, 502, 468, 594, 706, 437, 631, 390, 621, 394, 806, 594, 455, 6, 576, 947, 506, 365, 519, 447, 473, 452, 201, 600, 625, 722, 601, 737, 906, 437, 449, 472, 485, 398, 626, 634, 333, 476, 427, 470, 438, 590, 388, 562, 512, 565, 395, 481, 523, 397, 546, 515, 524, 265, 541, 1, 434, 390, 569, 61, 316, 600, 11, 271, 488, 531, 678, 713, 444, 400, 431, 459, 558, 708, 319, 341, 500, 534, 447, 525, 601, 441, 391, 793, 80, 440, 942, 462, 586, 425, 463, 472, 550, 851, 585, 719, 495, 477, 505, 471, 93, 424, 465, 508, 577, 656, 267, 421, 491, 532, 436, 612, 609, 717, 385, 599, 445, 566, 616, 538, 183, 457, 503, 399, 531, 481, 853, 708, 641, 605, 372, 427, 514, 349, 1036, 121, 475, 633, 824, 358, 297, 487, 632, 605, 488, 492, 476, 604, 770, 477, 643, 441, 450, 28, 719, 486, 558, 222, 424, 494, 382, 23, 583, 340, 445, 75, 180, 602, 562, 304, 475, 123, 431, 638, 560, 315, 568, 797, 162, 537, 468, 652, 552, 965, 454, 878, 523, 513, 103, 668, 578, 827, 485, 160, 32, 436, 378, 482, 322, 763, 413, 464, 126, 542, 257, 592, 552, 583, 386, 268, 543, 573, 636, 26, 398, 476, 481, 373, 752, 633, 479, 1, 483, 507, 370, 553, 560, 598, 429, 414, 582, 597, 717, 511, 527, 580, 761, 45, 436, 335, 382, 323, 532, 835, 515, 559, 687, 726, 759, 297, 397, 486, 579, 439, 418, 439, 416, 701, 636, 278, 620, 387, 505, 74, 737, 124, 364, 660, 314, 790, 352, 562, 677, 478, 3, 656, 654, 464, 513, 584, 452, 604, 354, 1, 106, 599, 337, 417, 18, 292, 518, 550, 518, 454, 486, 543, 483, 435, 470, 406, 343, 551, 501, 370, 118, 558, 514, 378, 524, 731, 652, 353, 487, 685, 289, 449, 326, 680, 583, 473, 254, 417, 25, 710, 446, 451, 286, 506, 557, 580, 599, 478, 257, 361, 266, 442, 454, 411, 499, 615, 546, 581, 493, 751, 493, 467, 259, 653, 438, 583, 175, 377, 389, 493, 407, 451, 326, 413, 644, 436, 390, 473, 430, 497, 472, 513, 520, 539, 317, 546, 623, 444, 702, 484, 505, 447, 533, 214, 425, 442, 529, 413, 518, 436, 795, 551, 488, 167, 407, 409, 569, 216, 583, 424, 324, 11, 544, 530, 483, 506, 526, 497, 397, 295, 412, 565, 419, 622, 512, 480, 581, 626, 546, 269, 346, 699, 507, 527, 208, 485, 78, 559, 406, 577, 392, 469, 554, 184, 547, 526, 578, 612, 526, 512, 556, 1050, 645, 648, 543, 384, 521, 403, 725, 488, 504, 478, 632, 433, 407, 579, 416, 561, 659, 533, 963, 460, 6, 760, 533, 62, 531, 585, 528, 586, 106, 552, 628, 595, 532, 510, 238, 432, 554, 487, 350, 419, 446, 786, 567, 472, 307, 396, 351, 531, 647, 13, 442, 584, 496, 469, 437, 421, 454, 745, 411, 498, 479, 220, 670, 436, 430, 121, 547, 463, 359, 524, 609, 832, 647, 222, 509, 703, 559, 1, 522, 475, 1115, 558, 353, 381, 610, 653, 586, 434, 417, 255, 452, 475, 374, 45, 614, 108, 450, 473, 402, 512, 543, 454, 129, 343, 434, 505, 515, 513, 451, 493, 235, 468, 572, 430, 484, 675, 452, 269, 539, 498, 421, 414, 320, 748, 592, 478, 520, 391, 475, 487, 439, 434, 511, 146, 675, 624, 81, 535, 521, 747, 480, 703, 593, 429, 429, 286, 680]

,timestamp,course,student,resourceID,partID,mode,result
25717185,1228420681,178UapjfFklEc,42zqlZ75j5aAg,msu/mmp/kap14/problems/cd413.problem,0,NaN,incorrect_attempted
25717275,1228420481,178UapjfFklEc,42zqlZ75j5aAg,msu/mmp/kap14/problems/cd413.problem,0,NaN,incorrect_attempted
25717326,1228420374,178UapjfFklEc,42zqlZ75j5aAg,msu/mmp/kap14/problems/cd418.problem,0,NaN,correct_by_student
25717393,1228420231,178UapjfFklEc,42zqlZ75j5aAg,msu/mmp/kap14/problems/cd418c.problem,0,NaN,correct_by_student
25719437,1228415865,178UapjfFklEc,42zqlZ75j5aAg,msu/mmp/kap14/problems/cd416.problem,0,NaN,correct_by_student
...,...,...,...,...,...,...,...
26826334,1219869515,178UapjfFklEc,42zqlZ75j5aAg,msu/kashy/Champ2002/champprobs/RectAreaPerimet...,0,NaN,correct_by_student
26826351,1219869349,178UapjfFklEc,42zqlZ75j5aAg,msu/kashy/Champ2002/champprobs/RectAreaPerimet...,0,NaN,incorrect_attempted
26826352,1219869339,178UapjfFklEc,42zqlZ75j5aAg,msu/kashy/Champ2002/champprobs/RectAreaPerimet...,0,NaN,incorrect_attempted
26835220,1219776797,178UapjfFklEc,42zqlZ75j5aAg,msu/physicslib/msuphysicslib/01_Math_1/msu-pro...,0,NaN,incorrect_attempted
26835240,1219776718,178UapjfFklEc,42zqlZ75j5aAg,msu/nagytibo/Misc/presence2.problem,0,NaN,correct_by_student

Dataset for course 0

In [400]:
# how many students in exam
s1=exam1.to_numpy()[:,2]
N=np.unique(s1) # how many students taking exam
print('There are',len(N),'students taking exam of this course')

N1_arr=[] # show each student takes how many exam questions
for i in range(len(N)):
    N1=exam1[exam1['student']==N[i]]
    N1_arr.append(N1.shape[0])
print('The number of questions taken by each student is as follow:',end='\n')
print(N1_arr)

There are 461 students taking exam of this course
The number of questions taken by each student is as follow:
[34, 18, 34, 34, 34, 34, 34, 34, 9, 18, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 33, 34, 34, 33, 34, 34, 34, 34, 34, 34, 34, 34, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 30, 34, 34, 34, 34, 33, 34, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 33, 34, 34, 34, 34, 34, 34, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 25, 34, 34, 9, 34, 34, 34, 34, 34, 34, 34, 34, 25, 18, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 33, 34, 34, 34, 34, 34, 34, 34, 33, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 33, 34, 34, 34, 25, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 33, 34, 34, 34, 34, 34, 34, 34, 18, 34, 33, 34, 34, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 15465, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 33, 34, 34, 34, 34, 34, 34, 34, 34, 25, 34, 34, 34, 34, 34, 18, 34, 34, 34, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 33, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 33, 34, 34, 34, 34, 34, 33, 34, 34, 25, 34, 34, 34, 34, 34, 34]

In [402]:
# Use dataset where students take 34 questions
indices = [index for index, value in enumerate(N1_arr) if value <= 34]
N_real=N[indices]
# student=exam1[exam1['student']==N_real[105]]
# ques_curr=student[student['resourceID']==Q_new[17]].to_numpy()
# ques_curr
N_real.shape

# if ques_curr[:,6]=='correct_by_scantron':
#     print(1)

(460,)

In [403]:
# only consider studnets who take 33 questions
# check if these questions are the same among all students
question=np.unique(exam1[exam1['student']==N_real[0]].to_numpy()[:,3])
question
count=0
for i in range(len(N_real)):
    
    question2=np.unique(exam1[exam1['student']==N_real[i]].to_numpy()[:,3])
    if (question==question2).all():
        count=count+1
print(count)

## Yes, they all match

<ipython-input-403-4297df45b46e>:9: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  if (question==question2).all():

AttributeError: 'bool' object has no attribute 'all'

In [373]:
Q_new.shape

(31,)

In [370]:
N1=exam1[exam1['student']==N_real[0]]

for n in range(1,len(N_real)):
    N1=N1.append(exam1[exam1['student']==N_real[n]])

In [371]:
N1

,timestamp,course,student,resourceID,partID,mode,result
1979703,1134567414,17oPA6FLPK2B.,42.GIof9MbEZA,msu/kortemey/physicslib/oscillations/horizonta...,12,exam,correct_by_scantron
1979709,1134567413,17oPA6FLPK2B.,42.GIof9MbEZA,msu/kortemey/physicslib/rotation/startrun.problem,0,exam,incorrect_attempted
1979712,1134567413,17oPA6FLPK2B.,42.GIof9MbEZA,msu/kortemey/physicslib/two_dim_motion/xvatf.p...,0,exam,correct_by_scantron
1979713,1134567413,17oPA6FLPK2B.,42.GIof9MbEZA,msu/kortemey/physicslib/two_dim_motion/graphso...,0,exam,incorrect_attempted
1979716,1134567412,17oPA6FLPK2B.,42.GIof9MbEZA,msu/kortemey/physicslib/momentum/truefalseradi...,0,exam,incorrect_attempted
...,...,...,...,...,...,...,...
2841241,1126542995,17oPA6FLPK2B.,42zaEAai8fr/w,msu/kortemey/physicslib/units/dimensionality.p...,0,exam,correct_by_scantron
2841242,1126542995,17oPA6FLPK2B.,42zaEAai8fr/w,msu/kortemey/physicslib/one_dim_motion/positio...,15,exam,incorrect_attempted
2841244,1126542995,17oPA6FLPK2B.,42zaEAai8fr/w,msu/kortemey/physicslib/two_dim_motion/takeoff...,0,exam,correct_by_scantron
2841247,1126542995,17oPA6FLPK2B.,42zaEAai8fr/w,msu/kortemey/physicslib/units/newton.problem,0,exam,correct_by_scantron
2841251,1126542994,17oPA6FLPK2B.,42zaEAai8fr/w,msu/kortemey/physicslib/two_dim_motion/graphso...,0,exam,correct_by_scantron

In [215]:
# find out one repeated element
Q1=exam1[exam1['student']==N_real[1]].to_numpy()[:,3]
Q1
unique_elements, counts = np.unique(Q1, return_counts=True)
repeated_elements = unique_elements[counts > 1]
print("Repeated elements:", repeated_elements)
# every student took this repeated question twice, so we drop this question from our set
Q_new = Q[Q != repeated_elements]
Q_new.shape

Repeated elements: ['msu/physicslib/msuphysicslib/64_EMInduction1/msuprob24b.problem']

(31,)

In [261]:
Y
excel_filename = "Y_binary.xlsx"

Y_binary = pd.DataFrame(Y)
Y_binary.to_excel(excel_filename, index=False, header=False)

In [258]:
Y=np.zeros((len(Q_new),len(N_real)))
Y.shape
for i in range(len(Q_new)):
    for j in range(len(N_real)):
        student_curr=exam1[exam1['student']==N_real[j]]
        ques_curr=student_curr[student_curr['resourceID']==Q_new[i]].to_numpy()
        if ques_curr[:,6]=='correct_by_scantron':
            Y[i,j]=1
        elif ques_curr[:,6]=='incorrect_attempted':
            Y[i,j]=0
        else: 
            Y[i,j]=None

In [374]:
Y.shape

(31, 297)

# Hand mode

In [126]:
# how many students in hand mode
h1=hand1.to_numpy()[:,2]
N_hand=np.unique(h1)
print('The number of students N: ',len(N_hand))
# how many questions in hand mode
hq1=exam1.to_numpy()[:,3]
Q_hand=np.unique(hq1)
print('The number of questions Q: ',len(Q_hand))

The number of students N:  352
The number of questions Q:  32

In [127]:
hand1

,timestamp,course,student,resourceID,partID,mode,result
14739627,1228921162,170Rg65URrGNE,42JOsQRD35K5g,wiley/cutnell/Physics_7ed/Chap28/cj-prob2842.p...,0,hand,correct_by_override
14739628,1228921161,170Rg65URrGNE,42JOsQRD35K5g,georgetown/skelton/Phys-042/PLQs/PLQ19/Negativ...,0,hand,correct_by_override
14739629,1228921161,170Rg65URrGNE,42JOsQRD35K5g,brookscole/serway/College_Physics_6ed/Chap23/p...,0,hand,incorrect_by_override
14739630,1228921161,170Rg65URrGNE,42JOsQRD35K5g,brookscole/serway/College_Physics_6ed/Chap24/p...,0,hand,incorrect_by_override
14739631,1228921161,170Rg65URrGNE,42JOsQRD35K5g,georgetown/skelton/Phys-042/PLQs/PLQ20/Fringes...,0,hand,correct_by_override
...,...,...,...,...,...,...,...
15381116,1221433785,170Rg65URrGNE,4256Y2Nez60C2,msu/browned/PHY184/HW3/Charged-Spheres.problem,NaN,hand,incorrect_by_override
15381119,1221433785,170Rg65URrGNE,42hbPUT8oe4RA,msu/browned/PHY184/HW3/Charged-Spheres.problem,17,hand,incorrect_by_override
15381122,1221433785,170Rg65URrGNE,42e7IZ6IT.72o,msu/browned/PHY184/HW3/Charged-Spheres.problem,17,hand,incorrect_by_override
15381123,1221433785,170Rg65URrGNE,42DF2VHgVEio6,msu/browned/PHY184/HW3/Charged-Spheres.problem,NaN,hand,incorrect_by_override
15409081,1220949263,170Rg65URrGNE,42q9Sc10cdAWs,msu/mmp/kap18/problems/cd460a.problem,0,hand,correct_by_override

In [128]:
# how many students in hand
h1=hand1.to_numpy()[:,2]
N_hand=np.unique(h1) # how many students taking exam
print('There are',len(N_hand),'students taking exam of this course')

N1_hand=[] # show each student takes how many exam questions
for i in range(len(N_hand)):
    N1=hand1[hand1['student']==N_hand[i]]
    N1_hand.append(N1.shape[0])
print('The number of questions taken by each student is as follow:',end='\n')
print(N1_hand)

There are 352 students taking exam of this course
The number of questions taken by each student is as follow:
[1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 20, 1, 1, 1, 1, 1, 1, 2, 9, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 11, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 11, 1, 9, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 20, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 9, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 20, 1, 6, 7, 1, 1, 20, 1, 2, 1, 2, 3, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 20, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 10, 20, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 9, 1, 9, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 7, 8, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 7, 1, 1, 1, 30, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 2, 1, 22, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1]

In [118]:
hand1[hand1['student']==N_hand[1]]

,timestamp,course,student,resourceID,partID,mode,result
16718990,1202746274,173XHazC4puKI,421n1Yp1qMLq.,fsu/capalibrary/54ElectricPotential1/prob03.pr...,0,hand,correct_by_override
16718991,1202746274,173XHazC4puKI,421n1Yp1qMLq.,csm/csmphyslib/type54_potential/ParallelPlate....,0,hand,correct_by_override
16718992,1202746274,173XHazC4puKI,421n1Yp1qMLq.,brookscole/serway/College_Physics_6ed/Chap16/p...,0,hand,correct_by_override
16718993,1202746274,173XHazC4puKI,421n1Yp1qMLq.,fsu/capalibrary/56CapacitanceCapacitors/prob03...,0,hand,correct_by_override
16718994,1202746274,173XHazC4puKI,421n1Yp1qMLq.,msu/physicslib/msuphysicslib/56_Capacitance/ms...,0,hand,correct_by_override
16718995,1202746273,173XHazC4puKI,421n1Yp1qMLq.,msu/schwier/phy184_ss2008/directionOfForceNega...,0,hand,incorrect_by_override
16718996,1202746273,173XHazC4puKI,421n1Yp1qMLq.,ohiou/OUp200lib/sfChpt15/sf1516a.problem,0,hand,correct_by_override
16718997,1202746273,173XHazC4puKI,421n1Yp1qMLq.,fsu/giancolilib/Chap16_ElectricChargeField/gcp...,0,hand,incorrect_by_override
16718998,1202746273,173XHazC4puKI,421n1Yp1qMLq.,msu/stump/PHY184/Ex1/Wk2-3.problem,0,hand,incorrect_by_override
16718999,1202746273,173XHazC4puKI,421n1Yp1qMLq.,msu/stump/PHY184/Ex1/Wk3_2.problem,0,hand,correct_by_override

In [242]:
# was there a wrong datalog?
N_59[N_59['resourceID']==Q59[0]]

,timestamp,course,student,resourceID,partID,mode,result
14973166,1225459548,170Rg65URrGNE,428IPdmipoH6U,msu/nagytibo/Electromagnetism/DCcircuits/011a....,NaN,exam,noanswer_or_invalid
14973184,1225459544,170Rg65URrGNE,428IPdmipoH6U,msu/nagytibo/Electromagnetism/DCcircuits/011a....,NaN,exam,noanswer_or_invalid
14973198,1225459541,170Rg65URrGNE,428IPdmipoH6U,msu/nagytibo/Electromagnetism/DCcircuits/011a....,NaN,exam,noanswer_or_invalid
14973215,1225459536,170Rg65URrGNE,428IPdmipoH6U,msu/nagytibo/Electromagnetism/DCcircuits/011a....,NaN,exam,noanswer_or_invalid
14973230,1225459531,170Rg65URrGNE,428IPdmipoH6U,msu/nagytibo/Electromagnetism/DCcircuits/011a....,NaN,exam,noanswer_or_invalid
...,...,...,...,...,...,...,...
14978238,1225458016,170Rg65URrGNE,428IPdmipoH6U,msu/nagytibo/Electromagnetism/DCcircuits/011a....,NaN,exam,noanswer_or_invalid
14978256,1225458012,170Rg65URrGNE,428IPdmipoH6U,msu/nagytibo/Electromagnetism/DCcircuits/011a....,NaN,exam,noanswer_or_invalid
14978271,1225458007,170Rg65URrGNE,428IPdmipoH6U,msu/nagytibo/Electromagnetism/DCcircuits/011a....,NaN,exam,noanswer_or_invalid
14978287,1225458003,170Rg65URrGNE,428IPdmipoH6U,msu/nagytibo/Electromagnetism/DCcircuits/011a....,NaN,exam,noanswer_or_invalid
14978303,1225457999,170Rg65URrGNE,428IPdmipoH6U,msu/nagytibo/Electromagnetism/DCcircuits/011a....,NaN,exam,noanswer_or_invalid

In [241]:
#outlier
N_59=exam1[exam1['student']==N[59]]
Q_59=N_59.to_numpy()[:,3]
Q59=np.unique(Q_59)
Q59.shape

(14,)

In [179]:
N1[N1.duplicated(['resourceID'],keep='last')]

Empty DataFrame
Columns: [timestamp, course, student, resourceID, partID, mode, result]
Index: []

In [178]:
s1.shape

(21049,)

In [62]:

for i, arr in enumerate(array_group):
    csv_name = f'sheet{i+1}.csv'  # Sheet names will be Sheet1, Sheet2, ..., Sheet34
    df_course = pd.DataFrame(arr)
    df_course.to_csv(csv_name,index=False)